# investigator
/investigator/target/debug
/investigator/target/release
/investigator/target/.rustc_info.json
/investigator/target/CACHEDIR.TAG
/investigator/target/tmp

# dupdir
/dupdir/target
/dupdir/data
/dupdir/data_old
