# investigator
/packages/investigator/benches/random_data
/packages/dupdir/out

# rust/cargo
/target

# created by rust-analyzer extension of vscode
/rust-analyzer-target
/packages/investigator/rust-analyzer-target
/packages/dupdir/rust-analyzer-target

# macOS
/.DS_Store

# nix
/nix/develop*

# VSCode
/.vscode
